extends ../_layout

block styles
  link(rel="stylesheet" href="/stylesheets/style.css")

block content
  nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href="#") &#127909; Fantasy Movie League &mdash; Admin
      
  div.main: div.container
    div.row(style={"padding":"2.2em 0"})
      div.col-sm-10
        h2=`${seasonName} Players`
      div.col-sm-2
    div.row
      div.col
        if editedPlayer
          div.alert.alert-success(role="alert") Player edited!
    div.row
      div.col
        table.table.table-striped
          thead
            tr
              th(scope="col") ID
              th(scope="col") Name
              each team in teams
                th(scope="col")= team.name
              th(scope="col") Entered Date
              th
          tbody
            each player in players
              tr
                td= player.id
                td= player.name
                each team in teams
                  td: input(type="checkbox" id=`${team.id}_${player.id}` checked=(player.teams.indexOf(team.id) >= 0))
                td= player.createdAt
                td
                  button(type="button").btn.btn-primary Update
                  | &nbsp;
                  button(type="button").btn.btn-danger Delete
